In [4]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

0    San Francisco
1         San Jose
2       Sacramento
dtype: object

In [3]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

In [5]:
np.log(852469)

13.655892123842273

In [6]:
np.log10(852469)

5.930678594850777

In [7]:
np.log2(852469)

19.701287845981899

In [14]:
with tf.Graph().as_default():
    a = tf.constant(10)
    b = tf.constant(20)
    sum = tf.add(a,b)
    with tf.Session() as sess:
        print (sum.eval())
        print (sess.run(sum))

30
30